LogisticTcp/Service References/ServiceReference1/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AssembLine" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IAssembLine_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_ILogistic_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/LineService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssembLine_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_Terminate_InputMessage">
    <wsdl:part name="parameters" element="tns:Terminate" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_Terminate_OutputMessage">
    <wsdl:part name="parameters" element="tns:TerminateResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ResetTimer_InputMessage">
    <wsdl:part name="parameters" element="tns:ResetTimer" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ResetTimer_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResetTimerResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_Move_InputMessage">
    <wsdl:part name="parameters" element="tns:Move" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_Move_OutputMessage">
    <wsdl:part name="parameters" element="tns:MoveResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_FinishStation_InputMessage">
    <wsdl:part name="parameters" element="tns:FinishStation" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_FinishStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:FinishStationResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetState_InputMessage">
    <wsdl:part name="parameters" element="tns:GetState" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetState_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStateResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCounter" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCounterResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetCounter_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCounter" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetCounter_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCounterResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetCounterForever_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCounterForever" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetCounterForever_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCounterForeverResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetStations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStations" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetStations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetStationsArray_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsArray" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetStationsArray_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationsArrayResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_RemoveStation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStation" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_RemoveStation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveStationResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_PushStationButton_InputMessage">
    <wsdl:part name="parameters" element="tns:PushStationButton" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_PushStationButton_OutputMessage">
    <wsdl:part name="parameters" element="tns:PushStationButtonResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadStationButton_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStationButton" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadStationButton_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStationButtonResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadStationName_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadStationName" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadStationName_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadStationNameResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetOPCMode_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOPCMode" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetOPCMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOPCModeResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetOPCMode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOPCMode" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetOPCMode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOPCModeResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadProduct" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadProductResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadFrame_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadFrame" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadFrame_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadFrameResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetProductStock_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductStock" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetProductStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductStockResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetProductBuffer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductBuffer" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetProductBuffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductBufferResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetStationBuffer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStationBuffer" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetStationBuffer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStationBufferResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadRealTimeData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadRealTimeData" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadRealTimeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadRealTimeDataResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadRealTimeDataForLine_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadRealTimeDataForLine" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_ReadRealTimeDataForLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadRealTimeDataForLineResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetLogisticTails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogisticTails" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetLogisticTails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogisticTailsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetSumStopTime_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSumStopTime" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_GetSumStopTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSumStopTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_RestoreLine_InputMessage">
    <wsdl:part name="parameters" element="tns:RestoreLine" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_RestoreLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestoreLineResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetOPCRestarted_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOPCRestarted" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetOPCRestarted_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOPCRestartedResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationDayPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStationDayPlan" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationDayPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStationDayPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationMonthPlan_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStationMonthPlan" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationMonthPlan_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStationMonthPlanResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationDayFact_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStationDayFact" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationDayFact_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStationDayFactResponse" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationMonthFact_InputMessage">
    <wsdl:part name="parameters" element="tns:SetStationMonthFact" />
  </wsdl:message>
  <wsdl:message name="IAssembLine_SetStationMonthFact_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetStationMonthFactResponse" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetLogisticRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogisticRequests" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetLogisticRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogisticRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetTails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTails" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetTails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTailsResponse" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetBatchesOnLine_InputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchesOnLine" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetBatchesOnLine_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetBatchesOnLineResponse" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetLogisticInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLogisticInfo" />
  </wsdl:message>
  <wsdl:message name="ILogistic_GetLogisticInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLogisticInfoResponse" />
  </wsdl:message>
  <wsdl:message name="ILogistic_ReadLogisticRealTimeData_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadLogisticRealTimeData" />
  </wsdl:message>
  <wsdl:message name="ILogistic_ReadLogisticRealTimeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadLogisticRealTimeDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssembLine">
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/Execute" message="tns:IAssembLine_Execute_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ExecuteResponse" message="tns:IAssembLine_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/Terminate" message="tns:IAssembLine_Terminate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/TerminateResponse" message="tns:IAssembLine_Terminate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResetTimer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/ResetTimer" message="tns:IAssembLine_ResetTimer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ResetTimerResponse" message="tns:IAssembLine_ResetTimer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Move">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/Move" message="tns:IAssembLine_Move_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/MoveResponse" message="tns:IAssembLine_Move_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FinishStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/FinishStation" message="tns:IAssembLine_FinishStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/FinishStationResponse" message="tns:IAssembLine_FinishStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetState" message="tns:IAssembLine_GetState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetStateResponse" message="tns:IAssembLine_GetState_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetCounter" message="tns:IAssembLine_GetCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetCounterResponse" message="tns:IAssembLine_GetCounter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCounter">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetCounter" message="tns:IAssembLine_SetCounter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetCounterResponse" message="tns:IAssembLine_SetCounter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCounterForever">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetCounterForever" message="tns:IAssembLine_SetCounterForever_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetCounterForeverResponse" message="tns:IAssembLine_SetCounterForever_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetStations" message="tns:IAssembLine_GetStations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetStationsResponse" message="tns:IAssembLine_GetStations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationsArray">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetStationsArray" message="tns:IAssembLine_GetStationsArray_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetStationsArrayResponse" message="tns:IAssembLine_GetStationsArray_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveStation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/RemoveStation" message="tns:IAssembLine_RemoveStation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/RemoveStationResponse" message="tns:IAssembLine_RemoveStation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PushStationButton">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/PushStationButton" message="tns:IAssembLine_PushStationButton_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/PushStationButtonResponse" message="tns:IAssembLine_PushStationButton_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStationButton">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/ReadStationButton" message="tns:IAssembLine_ReadStationButton_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ReadStationButtonResponse" message="tns:IAssembLine_ReadStationButton_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadStationName">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/ReadStationName" message="tns:IAssembLine_ReadStationName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ReadStationNameResponse" message="tns:IAssembLine_ReadStationName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOPCMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetOPCMode" message="tns:IAssembLine_SetOPCMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetOPCModeResponse" message="tns:IAssembLine_SetOPCMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOPCMode">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetOPCMode" message="tns:IAssembLine_GetOPCMode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetOPCModeResponse" message="tns:IAssembLine_GetOPCMode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/ReadProduct" message="tns:IAssembLine_ReadProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ReadProductResponse" message="tns:IAssembLine_ReadProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadFrame">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/ReadFrame" message="tns:IAssembLine_ReadFrame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ReadFrameResponse" message="tns:IAssembLine_ReadFrame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetProductStock" message="tns:IAssembLine_GetProductStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetProductStockResponse" message="tns:IAssembLine_GetProductStock_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductBuffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetProductBuffer" message="tns:IAssembLine_GetProductBuffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetProductBufferResponse" message="tns:IAssembLine_GetProductBuffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStationBuffer">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetStationBuffer" message="tns:IAssembLine_GetStationBuffer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetStationBufferResponse" message="tns:IAssembLine_GetStationBuffer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadRealTimeData">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/ReadRealTimeData" message="tns:IAssembLine_ReadRealTimeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ReadRealTimeDataResponse" message="tns:IAssembLine_ReadRealTimeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadRealTimeDataForLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/ReadRealTimeDataForLine" message="tns:IAssembLine_ReadRealTimeDataForLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/ReadRealTimeDataForLineResponse" message="tns:IAssembLine_ReadRealTimeDataForLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogisticTails">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetLogisticTails" message="tns:IAssembLine_GetLogisticTails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetLogisticTailsResponse" message="tns:IAssembLine_GetLogisticTails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSumStopTime">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/GetSumStopTime" message="tns:IAssembLine_GetSumStopTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/GetSumStopTimeResponse" message="tns:IAssembLine_GetSumStopTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestoreLine">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/RestoreLine" message="tns:IAssembLine_RestoreLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/RestoreLineResponse" message="tns:IAssembLine_RestoreLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOPCRestarted">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetOPCRestarted" message="tns:IAssembLine_SetOPCRestarted_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetOPCRestartedResponse" message="tns:IAssembLine_SetOPCRestarted_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStationDayPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetStationDayPlan" message="tns:IAssembLine_SetStationDayPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetStationDayPlanResponse" message="tns:IAssembLine_SetStationDayPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStationMonthPlan">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetStationMonthPlan" message="tns:IAssembLine_SetStationMonthPlan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetStationMonthPlanResponse" message="tns:IAssembLine_SetStationMonthPlan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStationDayFact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetStationDayFact" message="tns:IAssembLine_SetStationDayFact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetStationDayFactResponse" message="tns:IAssembLine_SetStationDayFact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetStationMonthFact">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssembLine/SetStationMonthFact" message="tns:IAssembLine_SetStationMonthFact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssembLine/SetStationMonthFactResponse" message="tns:IAssembLine_SetStationMonthFact_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ILogistic">
    <wsdl:operation name="GetLogisticRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogistic/GetLogisticRequests" message="tns:ILogistic_GetLogisticRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogistic/GetLogisticRequestsResponse" message="tns:ILogistic_GetLogisticRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTails">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogistic/GetTails" message="tns:ILogistic_GetTails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogistic/GetTailsResponse" message="tns:ILogistic_GetTails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetBatchesOnLine">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogistic/GetBatchesOnLine" message="tns:ILogistic_GetBatchesOnLine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogistic/GetBatchesOnLineResponse" message="tns:ILogistic_GetBatchesOnLine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLogisticInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogistic/GetLogisticInfo" message="tns:ILogistic_GetLogisticInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogistic/GetLogisticInfoResponse" message="tns:ILogistic_GetLogisticInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadLogisticRealTimeData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILogistic/ReadLogisticRealTimeData" message="tns:ILogistic_ReadLogisticRealTimeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILogistic/ReadLogisticRealTimeDataResponse" message="tns:ILogistic_ReadLogisticRealTimeData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IAssembLine" type="tns:IAssembLine">
    <wsp:PolicyReference URI="#NetTcpBinding_IAssembLine_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Execute">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/Execute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Terminate">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/Terminate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResetTimer">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/ResetTimer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Move">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/Move" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinishStation">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/FinishStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetState">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCounter">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCounter">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetCounter" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCounterForever">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetCounterForever" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStations">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetStations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationsArray">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetStationsArray" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveStation">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/RemoveStation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PushStationButton">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/PushStationButton" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStationButton">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/ReadStationButton" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadStationName">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/ReadStationName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOPCMode">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetOPCMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOPCMode">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetOPCMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadProduct">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/ReadProduct" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadFrame">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/ReadFrame" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductStock">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetProductStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductBuffer">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetProductBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStationBuffer">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetStationBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadRealTimeData">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/ReadRealTimeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadRealTimeDataForLine">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/ReadRealTimeDataForLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogisticTails">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetLogisticTails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSumStopTime">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/GetSumStopTime" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreLine">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/RestoreLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOPCRestarted">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetOPCRestarted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStationDayPlan">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetStationDayPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStationMonthPlan">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetStationMonthPlan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStationDayFact">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetStationDayFact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetStationMonthFact">
      <soap12:operation soapAction="http://tempuri.org/IAssembLine/SetStationMonthFact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_ILogistic" type="tns:ILogistic">
    <wsp:PolicyReference URI="#NetTcpBinding_ILogistic_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetLogisticRequests">
      <soap12:operation soapAction="http://tempuri.org/ILogistic/GetLogisticRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTails">
      <soap12:operation soapAction="http://tempuri.org/ILogistic/GetTails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBatchesOnLine">
      <soap12:operation soapAction="http://tempuri.org/ILogistic/GetBatchesOnLine" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLogisticInfo">
      <soap12:operation soapAction="http://tempuri.org/ILogistic/GetLogisticInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadLogisticRealTimeData">
      <soap12:operation soapAction="http://tempuri.org/ILogistic/ReadLogisticRealTimeData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssembLine">
    <wsdl:port name="NetTcpBinding_IAssembLine" binding="tns:NetTcpBinding_IAssembLine">
      <soap12:address location="net.tcp://localhost:10022/LineService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:10022/LineService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_ILogistic" binding="tns:NetTcpBinding_ILogistic">
      <soap12:address location="net.tcp://localhost:10022/LineService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:10022/LineService/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>