wsLineHostController/Service References/ServiceReference2/LineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLineStationBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineStationBase" nillable="true" type="tns:LineStationBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineStationBase" nillable="true" type="tns:ArrayOfLineStationBase" />
  <xs:complexType name="LineStationBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineStationBase" nillable="true" type="tns:LineStationBase" />
  <xs:complexType name="Frame">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Frame" nillable="true" type="tns:Frame" />
  <xs:complexType name="ArrayOfProductBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductBase" nillable="true" type="tns:ProductBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductBase" nillable="true" type="tns:ArrayOfProductBase" />
  <xs:complexType name="ProductBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductBase" nillable="true" type="tns:ProductBase" />
  <xs:complexType name="ArrayOfStationRealtimeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StationRealtimeData" nillable="true" type="tns:StationRealtimeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStationRealtimeData" nillable="true" type="tns:ArrayOfStationRealtimeData" />
  <xs:complexType name="StationRealtimeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationRealtimeData" nillable="true" type="tns:StationRealtimeData" />
</xs:schema>