netTcpLogisticApplication/Service References/ServiceReference1/LogisticService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LogisticService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LogisticService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogistRequestElem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogistRequestElem" nillable="true" type="tns:LogistRequestElem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogistRequestElem" nillable="true" type="tns:ArrayOfLogistRequestElem" />
  <xs:complexType name="LogistRequestElem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNum" type="xs:int" />
      <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WaitingTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogistRequestElem" nillable="true" type="tns:LogistRequestElem" />
  <xs:complexType name="ArrayOfLogistTailElem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogistTailElem" nillable="true" type="tns:LogistTailElem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogistTailElem" nillable="true" type="tns:ArrayOfLogistTailElem" />
  <xs:complexType name="LogistTailElem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TailStationIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TailStationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogistTailElem" nillable="true" type="tns:LogistTailElem" />
  <xs:complexType name="ArrayOfLogistBatch">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogistBatch" nillable="true" type="tns:LogistBatch" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogistBatch" nillable="true" type="tns:ArrayOfLogistBatch" />
  <xs:complexType name="LogistBatch">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogistBatch" nillable="true" type="tns:LogistBatch" />
  <xs:complexType name="LogisticInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextBatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaktsTillNextBatch" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogisticInfo" nillable="true" type="tns:LogisticInfo" />
</xs:schema>