netTcpLogisticApplication/Service References/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LogisticService" />
  <xs:element name="GetLogisticRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LogisticService" minOccurs="0" name="GetLogisticRequestsResult" nillable="true" type="q1:ArrayOfLogistRequestElem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticTails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticTailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LogisticService" minOccurs="0" name="GetLogisticTailsResult" nillable="true" type="q2:ArrayOfLogistTailElem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchesOnLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchesOnLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LogisticService" minOccurs="0" name="GetBatchesOnLineResult" nillable="true" type="q3:ArrayOfLogistBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LogisticService" minOccurs="0" name="GetLogisticInfoResult" nillable="true" type="q4:LogisticInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewBatchesOnLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LogisticService" minOccurs="0" name="lineBatches" nillable="true" type="q5:ArrayOfLogistBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewBatchesOnLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewNextBatch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LogisticService" minOccurs="0" name="info" nillable="true" type="q6:LogisticInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RenewNextBatchResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>