wsLineHostController/Service References/AssembLineReference/LineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLineStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineStation" nillable="true" type="tns:LineStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineStation" nillable="true" type="tns:ArrayOfLineStation" />
  <xs:complexType name="LineStation">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineStation" nillable="true" type="tns:LineStation" />
</xs:schema>