StationClient/Service References/ServiceReference2/LineService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LineService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LineService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLineStationBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineStationBase" nillable="true" type="tns:LineStationBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineStationBase" nillable="true" type="tns:ArrayOfLineStationBase" />
  <xs:complexType name="LineStationBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineStationBase" nillable="true" type="tns:LineStationBase" />
  <xs:complexType name="Frame">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Frame" nillable="true" type="tns:Frame" />
  <xs:complexType name="ArrayOfProductBase">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductBase" nillable="true" type="tns:ProductBase" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductBase" nillable="true" type="tns:ArrayOfProductBase" />
  <xs:complexType name="ProductBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductBase" nillable="true" type="tns:ProductBase" />
  <xs:complexType name="ArrayOfStationRealtimeData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StationRealtimeData" nillable="true" type="tns:StationRealtimeData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStationRealtimeData" nillable="true" type="tns:ArrayOfStationRealtimeData" />
  <xs:complexType name="StationRealtimeData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StationRealtimeData" nillable="true" type="tns:StationRealtimeData" />
  <xs:complexType name="ArrayOfLogistTailElem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogistTailElem" nillable="true" type="tns:LogistTailElem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogistTailElem" nillable="true" type="tns:ArrayOfLogistTailElem" />
  <xs:complexType name="LogistTailElem">
    <xs:sequence>
      <xs:element minOccurs="0" name="BatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BatchType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TailStationIndex" type="xs:int" />
      <xs:element minOccurs="0" name="TailStationName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogistTailElem" nillable="true" type="tns:LogistTailElem" />
  <xs:complexType name="ArrayOfLogMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogMessage" nillable="true" type="tns:LogMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogMessage" nillable="true" type="tns:ArrayOfLogMessage" />
  <xs:complexType name="LogMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertType" type="xs:int" />
      <xs:element minOccurs="0" name="EventTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Line" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MessageString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObjectType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessage" nillable="true" type="tns:LogMessage" />
  <xs:complexType name="ClientInstruction">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClientInstruction" nillable="true" type="tns:ClientInstruction" />
  <xs:complexType name="ArrayOfLogistRequestElem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogistRequestElem" nillable="true" type="tns:LogistRequestElem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogistRequestElem" nillable="true" type="tns:ArrayOfLogistRequestElem" />
  <xs:complexType name="LogistRequestElem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderNum" type="xs:int" />
      <xs:element minOccurs="0" name="PartName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
      <xs:element minOccurs="0" name="StationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WaitingTime" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogistRequestElem" nillable="true" type="tns:LogistRequestElem" />
  <xs:complexType name="LogisticInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="LineId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NextBatchName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaktsTillNextBatch" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogisticInfo" nillable="true" type="tns:LogisticInfo" />
</xs:schema>