StationClient/Service References/ServiceReference2/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/LineService" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Terminate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetTimer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetTimerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounter">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCounterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCounterResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCounter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCounterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCounterForever">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCounterForeverResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetStationsResult" nillable="true" type="q1:ArrayOfLineStationBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsArray">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsArrayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetStationsArrayResult" nillable="true" type="q2:ArrayOfLineStationBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LineStationRemoveId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveStationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PushStationButton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
        <xs:element minOccurs="0" name="ControlKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PushStationButtonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PushStationButtonResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStationButton">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
        <xs:element minOccurs="0" name="ControlKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStationButtonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadStationButtonResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadStationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadStationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOPCMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mode" type="xs:boolean" />
        <xs:element minOccurs="0" name="OPCServerName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOPCModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPCMode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPCModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOPCModeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReadProductResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadFrame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadFrameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="ReadFrameResult" nillable="true" type="q3:Frame" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductStockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetProductStockResult" nillable="true" type="q4:ArrayOfProductBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBuffer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductBufferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetProductBufferResult" nillable="true" type="q5:ArrayOfProductBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationBuffer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationBufferResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetStationBufferResult" nillable="true" type="q6:ArrayOfProductBase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRealTimeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRealTimeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="ReadRealTimeDataResult" nillable="true" type="q7:ArrayOfStationRealtimeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRealTimeDataForLine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StationIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadRealTimeDataForLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="ReadRealTimeDataForLineResult" nillable="true" type="q8:ArrayOfStationRealtimeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticTails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticTailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetLogisticTailsResult" nillable="true" type="q9:ArrayOfLogistTailElem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumStopTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSumStopTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSumStopTimeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreLineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOPCRestarted">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOPCRestartedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationDayPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationDayPlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMonthPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMonthPlanResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationDayFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationDayFactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMonthFact">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetStationMonthFactResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemLogData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMemLogDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetMemLogDataResult" nillable="true" type="q10:ArrayOfLogMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInstruction">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientInstructionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetClientInstructionResult" nillable="true" type="q11:ClientInstruction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientInstruction">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Mode" type="xs:int" />
        <xs:element minOccurs="0" name="ContentUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientInstructionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticRequests">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetLogisticRequestsResult" nillable="true" type="q12:ArrayOfLogistRequestElem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetTailsResult" nillable="true" type="q13:ArrayOfLogistTailElem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchesOnLine">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBatchesOnLineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetBatchesOnLineResult" nillable="true" type="q14:ArrayOfLogistTailElem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogisticInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="GetLogisticInfoResult" nillable="true" type="q15:LogisticInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLogisticRealTimeData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="stationIndex" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadLogisticRealTimeDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LineService" minOccurs="0" name="ReadLogisticRealTimeDataResult" nillable="true" type="q16:ArrayOfStationRealtimeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>